* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --standard-padding: 16px;
    --orange: #ffae00;
}

@font-face {
    font-family: AmaticSC;
    src: url(../assets/fonts/AmaticSC-Bold.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat.ttf);
}

body {
    min-height: 100vh;
    background: url('../assets/img/background-1.jpg') no-repeat;
    background-size: 100vw; /* prevents background from resizing when scrollbar appears */
    /* background-attachment: fixed; */
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: calc(100vw - 100%); /* prevents header resizing when scrollbar appears */
    /* 100% is the available space without the scrollbar
       therefore the padding is either 0 or the width of the scrollbar when present */
}

header {
    position: sticky;
    top: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .8);
}

header > * {
    width: 100vw;
}

header > h1 {
    font-family: AmaticSC;
    font-size: 5rem;
    padding-top: var(--standard-padding);
}

header > ul {
    display: inline-flex;
    justify-content: center;
    list-style: none;
    gap: 24px;
}

li {
    position: relative;
    cursor: pointer;
    font-weight: bold;
    padding: var(--standard-padding);
    margin-top: 0;
    transition: margin-top .2s ease-in;
}

li:hover,
.clicked {
    margin-top: -3px;
}

li:hover::after,
.clicked::after {
    display: inline-block;
    position: absolute;
    content: "";
    bottom: 12px;
    left: var(--standard-padding);
    width: calc(100% - 2 * var(--standard-padding));
    border-bottom: 2px solid var(--orange);
}

li:active {
    color: var(--orange);
}