
header {
    position: sticky;
    top: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .8);
}

header > * {
    width: 100vw;
}

header > h1 {
    font-family: AmaticSC, sans-serif;
    font-size: 5rem;
    padding-top: var(--standard-padding);
}

header > ul {
    display: inline-flex;
    justify-content: center;
    list-style: none;
    gap: 24px;
}

li {
    position: relative;
    cursor: pointer;
    font-weight: bold;
    padding: var(--standard-padding);
    margin-top: 0;
    transition: margin-top .2s ease-in;
}

li:hover,
.clicked {
    margin-top: -3px;
}

li:hover::after,
.clicked::after {
    display: inline-block;
    position: absolute;
    content: "";
    bottom: 12px;
    left: var(--standard-padding);
    width: calc(100% - 2 * var(--standard-padding));
    border-bottom: 2px solid var(--orange);
}

li:active {
    color: var(--orange);
}