.container {
    align-self: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-info {
    padding: 2rem;
    margin-bottom: 11rem;
    background-color: rgba(0, 0, 0, .42);
    color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.home-info > h2 {
    font-size: 2.25rem;
    line-height: 2;
}

.home-info > p {
    font-size: 1.5rem;
}

.home-info > p:nth-of-type(2) {
    font-size: .8em;
}

.menu-button {
    align-self: center;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid var(--orange);
    color: var(--orange);
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, .3);
    padding: .7rem 1.5rem;
    margin: 2rem 0 1rem;
    cursor: pointer;

    /* animation rules */
    position: relative;
    z-index: 0;
    overflow: hidden;  

    transition: color .2s ease-in-out;
}

.menu-button:hover {
    color: #fff;
}

.menu-button::after {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    border: 2px solid var(--orange);
    background-color: var(--orange);
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transition: transform .2s ease-in-out, 
                opacity .2s ease-in;
}

.menu-button:hover::after {
    transform: translate(-2px, -2px);
    opacity: 1;
}